@import "tailwindcss";
.container{
    width: 1400px;
    margin: 0 auto;
}
 .slick-slider .slick-dots{
    top: 380px;
}
.slick-dots li button:before {
    scale: 2;
}
.baner-sections div div {
  transition: all 0.1s ease-in-out;
}

.baner-sections div div:hover {
  scale: 0.9;
}
.baner-sections :nth-child(1) div{
    background: url(../public/baner1.png);
    background-size: cover;
}
.baner-sections :nth-child(2) div{
    background: url(../public/baner2.png);
    background-size: cover;
}
.baner-sections :nth-child(3) div{
    background: url(../public/baner3.png);
    background-size: cover;
}
.baner-sections :nth-child(4) div{
    background: url(../public/baner4.png);
    background-size: cover;
}
.baner-sections :nth-child(5) div{
    background: url(../public/baner5.png);
    background-size: cover;
}
.baner-sections :nth-child(6) div{
    background: url(../public/baner6.png);
    background-size: cover;
}
.baner-sections :nth-child(7) div{
    background: url(../public/baner7.png);
    background-size: cover;
}
.baner-sections :nth-child(8) div{
    background: url(../public/baner8.jpeg);
    background-size: cover;
}
.baner-sections :nth-child(9) div{
    background: url(../public/baner9.png);
    background-size: cover;
}
.baner-sections :nth-child(10) div{
    background: url(../public/baner10.png);
    background-size: cover;
}
.baner-sections :nth-child(11) div{
    background: url(../public/baner11.jpeg);
    background-size: cover;
}
/* .baner-right-img1{
    background: url(../public/baner13.gif);
    background-size: cover;
}
.baner-right-img2{
    background: url(../public/baner14.jpeg);
    background-size: cover;
    background-position: bottom;
    background: url(../public/baner15.jpeg);
    background: url(../public/baner16.jpeg);
} */
 .recomendedul li:hover::after{
    content: "";
    animation: undelinesplit;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
 }
 @keyframes undelinesplit{
    100%{
        width: 100px;
    }
 }